<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="/img/box-of-popcorn.png"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92d7fa70c9.js" crossorigin="anonymous"></script>
    <title>RARDB4 User Reviews</title>
    <style>
/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  background: #ccc;
  padding: 30px;
}
body{ background-color: #dfebe9;}

/* Style the content */
article {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
/* Responsive layout
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


    </style>
</head>
<body>
<header th:insert="layout/header.html :: header"></header>
<section>

    <article class="container mx-auto">
        <br>

        <h3>Reviews by </h3>
        <h1 th:utext="${username}"></h1>
        <br>
        <div th:if="${not #lists.isEmpty(reviews)}">
            <!--Review info-->
            <div th:each="review: ${reviews}">
                <div class="col">
                    <p style="float:left;margin-right:50px">
                        <img th:src="${review.moviePicture}" width="100px">
                    </p>
                </div>
                <div>
                    <h4>Movie: <span th:text="${review.movieTitle}"/></h4>
                    <h4>Title: <span th:text="${review.reviewTitle}"/></h4>
                    <h5>Review:</h5>
                    <p th:text="${review.reviewText}"></p>
                    <div class="col">
                        <div class="row">
                            <h5>Movie rating by user:<span STYLE="color: purple; font-size:30pt"
                                                           th:text="${review.userRatingForMovie}"/></h5>
                        </div>
                        <div class="row">
                            <h5>Review rating:<span STYLE="color: red; font-size:30pt"
                                                    th:text="${review.reviewRating}"/></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:unless="${not #lists.isEmpty(reviews)}">
            <div class="card">
                <div class="card-body">
                    Don't have any reviews.
                </div>
            </div>
        </div>
    </article>
</section>


<footer th:insert="layout/footer.html :: footer"></footer>
</body>
</html>
