<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
	<title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/92d7fa70c9.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="layout/header.html :: header"></header>
<div class="container" align="center">

      <span th:text="${message}"></span> <br/><br/><br/>

</div>
<footer th:insert="layout/footer.html :: footer"></footer>
</body>
</html>
