<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RARDB4 Edit review</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<style>/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  background: #ccc;
  padding: 30px;
}

body{ background-color: #dfebe9;}


/* Style the content */
article {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
/* Responsive layout
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>
<header th:insert="layout/header.html :: header"></header>
<body>
<section>
    <nav>
        <!--buttons -->
        <a class="btn btn-info" sec:authorize="isAuthenticated()" href="/user/home/profile"> <span>My profile</span></a>
        <div><br></div>
        <a class="btn btn-info" sec:authorize="isAuthenticated()" href="/user/home/reviews"> <span>My reviews</span></a>
        <div><br></div>
        <a class="btn btn-info" sec:authorize="isAuthenticated()" th:href="@{/add-review-search}">Add review</a>
    </nav>
<div class="container">
    <h1>Edit Review</h1>

  <form
          th:action="@{/user/home/reviews-search/edit-review/{id}(id=${review.reviewID})}"
          th:object="${review}" method="post">
        <div class="row">
            <div class="form-group col-md-8">
                <input type="hidden" th:field="${review.movieID}"class="form-control" id="movieID">
                <input type="hidden" th:field="${review.movieTitle}"class="form-control" id="movieTitle">
                <input type="hidden" th:field="${review.moviePicture}" class="form-control" id="moviePicture">
                <input type="hidden" th:field="${review.reviewRating}" class="form-control" id="reviewRating">
                <input type="hidden" th:field="${review.username}" class="form-control" id="username">
                <input type="hidden" th:field="${review.userId}"class="form-control" id="userId">

                    <label for="userRatingForMovie" class="col-form-label">Rate movie (1-10)</label>
                    <select th:field="*{userRatingForMovie}" id="userRatingForMovie">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </label>

                <label for="reviewTitle" class="col-form-label">Review Title:</label>
                <input type="text" th:field="*{reviewTitle}" class="form-control" id="reviewTitle">
                <span th:if="${#fields.hasErrors('reviewTitle')}" th:errors="*{reviewTitle}" class="text-danger"/>
                <label for="reviewText" class="col-form-label">Review Text:</label>
                <input type="text" th:field="*{reviewText}" class="form-control" id="reviewText">
                <span th:if="${#fields.hasErrors('reviewText')}" th:errors="*{reviewText}" class="text-danger"/>

            </div>
            <div class="form-group col-md-8">
                <input type="submit" value="Edit Review" class="btn btn-outline-primary">
                <a th:href="@{/user/home/reviews}" class="btn btn-outline-primary">Return</a>
            </div>
        </div>
    </form>
</div>
</section>
<footer th:insert="layout/footer.html :: footer"></footer>
</body>
</html>