<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92d7fa70c9.js" crossorigin="anonymous"></script>
    <title>RARDB4 User password change</title>
    <style>
/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}
body{ background-color: #dfebe9;}

/* Style the navigation menu */
nav {
  background: #ccc;
  padding: 30px;
}

/* Style the content */
article {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
/* Responsive layout
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

    </style>

</head>

<body>
<header th:insert="layout/header.html :: header"></header>
<section>
    <nav>
        <br>
        <!--buttons -->
        <a class="btn btn-info" sec:authorize="isAuthenticated()" href="/user/home/profile"> <span>My profile</span></a>
        <div><br></div>
        <a class="btn btn-info" sec:authorize="isAuthenticated()" href="/user/home/reviews"> <span>My reviews</span></a>
        <div><br></div>
        <a class="btn btn-info" sec:authorize="isAuthenticated()" th:href="@{/add-review-search}">Add review</a>
        <div><br></div>
        <a class="btn btn-info" sec:authorize="isAuthenticated()" th:href="@{/user/home/profile/edit}">Edit profile</a>


    </nav>
    <article>
        <br>
        <div class="container">
            <h3>Change password:</h3>
            <form th:object="${user}" method="post">
            <div class="row" style="max-width:345px">
                <label class="col-form-label">Password:</label>
                <input class="form-control"  id="password" name="password" type="password"/>
                <label class="col-form-label">New Password:</label>
                <input class="form-control" id="newPassword" name="newPassword" type="password"/>
                <label class="col-form-label">Confirm password:</label>
                <input class="form-control" id="confirmPassword" type="password"/>
                <span id="error" style="display:none">Password mismatch</span>

                <button class="btn btn-outline-primary" type="submit">Change Password</button>
            </div>
            </form>
        </div>

    </article>
</section>
<footer th:insert="layout/footer.html :: footer"></footer>
</body>
</html>