<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Review</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="display-4"><span th:text="${movie.Title}"/> (<span th:text="${movie.Year}"/>)</h1>
    <h7><span th:text="${movie.Genre}"/>    |    <span th:text="${movie.Released}"/>    |    <span th:text="${movie.Country}"/></h7>
    <br>

    <div>
        <p>>
        <img style="height=400px;float:left;margin-right:50px;margin-top:60px" th:src="${movie.Poster}">
        <ul>
            <li><span th:text="${movie.Director}"/></li>
            <li><span th:text="${movie.Actors}"/></li>
            <li><span th:text="${movie.Plot}"/></li>
        </ul>
        </p>
    </div>

    <h1 class="display-4">Add your review to this movie</h1>
    <form action="#"
          th:action="@{/add-review-search/add-review-movie/{id}(id=${movie.imdbID})}" th:object="${review}" method="post" >
        <div class="row">
            <div class="form-group col-md-8">
                <label for="text" class="col-form-label">Review text</label>
                <input type="text"  th:field="*{text}" class="form-control" id="text" placeholder="Text">
            </div>
            <div class="form-group col-md-8">
                <input type="submit" class="btn btn-primary" value="Add">
            </div>
        </div>
    </form>

</div>

</body>

</html>