<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <form action="#"
          th:action="@{/add-review-search/add-review-movie/{id}(id=${movie.imdbID}/review}"
          th:object="${review}" method="post">
        <div class="row">
            <div class="form-group col-md-8">
                <label for="reviewTitle" class="col-form-label">Your Review Title</label>
                <input type="text" th:field="*{reviewTitle}" class="form-control" id="reviewTitle">
                <span th:if="${#fields.hasErrors('reviewTitle')}" th:errors="*{reviewTitle}" class="text-danger"/>
            </div>
            <div class="form-group col-md-8">
                <label for="reviewText" class="col-form-label">Your review:</label>
                <input type="text" th:field="*{reviewText}" class="form-control" id="reviewText">
                <span th:if="${#fields.hasErrors('reviewText')}" th:errors="*{reviewText}" class="text-danger"/>
            </div>
            <div class="form-group col-md-8">
                <label for="userRatingForMovie" class="col-form-label">Photo:</label>
                <input type="text" th:field="*{userRatingForMovie}" class="form-control" id="userRatingForMovie">
                <span th:if="${#fields.hasErrors('userRatingForMovie')}" th:errors="*{userRatingForMovie}" class="text-danger"/>
            </div>

            <div class="form-group col-md-8">
                <input type="submit" class="btn-outline-success" value="Add your review">
            </div>
        </div>
    </form>
</div>

</body>
</html>
-->