<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/box-of-popcorn.png" />
    <title>RARDB4 Add Review</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92d7fa70c9.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="layout/header.html :: header"></header>
<div class="container">
    <!--success message -->
    <h2><span class="text-success" th:utext="${successReview}"></span></h2>

    <!--search button -->
    <div class="form-group col-md-8">
        <form th:action="@{/add-review-search/search}" method="get">
            <input type="text" name="keyword" id="keyword" th:value="${keyword}"/>
            <input type="submit" value="Search" class="btn btn-dark"/>

        </form>
    </div>

    <!--Info about movie -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1><span th:text="${movie.Title}"/>(<span th:text="${movie.Year}"/>)</h1>
                <h5 style="text-align:center"><span th:text="${movie.Genre}"/> | Released <span
                        th:text="${movie.Released}"/> | <span
                        th:text="${movie.Country}"/></h5>
            </div>
        </div>
        <br>
        <div class="row row-cols-2">
            <div class="col">
                <p><img style="height=400px;float:left;margin-right:50px" th:src="${movie.Poster}"></p>
            </div>

            <div class="col">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Director</th>
                        <td><span th:text="${movie.Director}"/></td>
                    </tr>
                    <tr>
                        <th scope="row">Actors</th>
                        <td><span th:text="${movie.Actors}"/></td>
                    </tr>
                    <tr>
                        <th scope="row">Production</th>
                        <td><span th:text="${movie.Production}"/></td>
                    </tr>
                    <tr>
                        <th scope="row">Awards</th>
                        <td><span th:text="${movie.Awards}"/></td>
                    </tr>
                    <tr>
                        <th scope="row">IMDB Rating</th>
                        <td><span th:text="${movie.imdbRating}"/></td>
                    </tr>
                    <tr>
                        <th scope="row">Language</th>
                        <td><span th:text="${movie.Language}"/></td>
                    </tr>
                    <tr>
                        <td colspan="2"><span th:text="${movie.Plot}"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--add Review Form-->
    <div class="container">
        <h1 class="display-4">Type in your review</h1>
        <form action="#"
              th:action="@{/add-review-search/add-review-movie/{id}(id=${movie.imdbID})}"
              th:object="${review}" method="post">
            <div class="row">

                <div class="form-group col-md-8">
                    <label for="reviewTitle" class="col-form-label">Your review title</label>
                    <input type="text" th:field="*{reviewTitle}" class="form-control" id="reviewTitle">
                    <!--<span th:if="${#fields.hasErrors('reviewTitle')}" th:errors="*{reviewTitle}" class="text-danger"/>-->
                    <br>
                </div>
                <div class="form-group col-md-8">
                    <label for="reviewText" class="col-form-label">Your review</label>
                    <textarea type="text" th:field="*{reviewText}" class="form-control" id="reviewText"></textarea>
                </div>

                <div class="form-group col-md-8">
                    <label for="userRatingForMovie" class="col-form-label">Rate movie (1-10)</label>
                    <select th:field="*{userRatingForMovie}" id="userRatingForMovie">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <div class="form-group col-md-8">
                        <input type="submit" class="btn btn-info" value="Submit review">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:insert="layout/footer.html :: footer"></footer>
</body>
</html>