<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="/img/box-of-popcorn.png"/>
    <title>RARDB4 index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92d7fa70c9.js" crossorigin="anonymous"></script>
    <style>

   body{ background-color: #dfebe9;}

ul#menu li {
  display:inline;
}
img#men{
 border-radius: 10px;
 width: 100px;
}



    </style>
</head>
<body>
<header th:insert="layout/header.html :: header"></header>
<section>

    <article class="container mx-auto">

        <div><br></div>

        <!--Button-->
        <div>
            <a class="btn btn-info" sec:authorize="isAuthenticated()" th:href="@{/add-review-search}">Add review</a>
        </div>

        <div><br></div>
        <ul class="container">
            <!--Movie line-->
            <ul id="menu" class="column">
                <li th:each="review:${allMovies}">
                    <a th:href="@{/reviews/about-movie/{id}(id=${review.movieID})}">
                        <img id="men" th:src="${review.moviePicture}"></a>
                </li>
            </ul>
        </ul>

        <!--all movies, by rating button -->
        <div>
            <a class="btn btn-light" th:href="@{/reviews/movies}">All Movies</a>
        </div>
        <!--Top 5 reviews-->
        <div class="container">
            <h3>Top movie reviews </h3><br>
            <div th:if="${not #lists.isEmpty(reviews)}">
                <table class="table table-striped">
                    <tr>
                        <th width="15%"><h6>Movie</h6></th>
                        <th width="5%"></th>
                        <th width="13%"><h6>Review rating</h6></th>
                        <th width="5%"><h6>User</h6></th>
                        <th width="5%"><h6>Review title</h6></th>
                        <th width="30%"><h6>Review</h6></th>
                    </tr>
                    <tr th:each="review: ${reviews}">
                        <td>
                            <a class="small" th:href="@{/reviews/about-movie/{id}(id=${review.movieID})}"
                               th:text="${review.movieTitle}" style="color:black"></a>
                        </td>
                        <td><img th:src="${review.moviePicture}" height="100"/></td>
                        <td class="small" th:text="${review.reviewRating}"/>
                        <td>
                            <a th:href="@{/reviews/profile/profile-reviews/{username}(username=${review.username})}">
                                <span class="small" th:text="${review.username}"></span>
                            </a>
                        </td>
                        <td class="small" th:text="${review.reviewTitle}"/>
                        <td>
                            <a th:href="@{/reviews/reviews-search/rate-review/{id}(id=${review.reviewID})}"
                               type="button" :focus style="border:none!important"
                               class="btn btn-outline-dark" th:text="${review.reviewText}">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:unless="${not #lists.isEmpty(reviews)}">
                <div class="card">
                    <div class="card-body">
                        There are no reviews.
                    </div>
                </div>
            </div>
        </div>
<!--more reviews -->
        <div>
            <div><a class="btn btn-info" th:href="@{/reviews/moreReviews}">More</a></div>
        </div>
        <div>
            <br>
        </div>


    </article>
</section>
<footer th:insert="layout/footer.html :: footer"></footer>

</body>
</html>