<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>RARDB4 index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92d7fa70c9.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="layout/header.html :: header"></header>
<div class="container">

    <!--Button-->
    <div>
        <a class="btn btn-info" sec:authorize="isAuthenticated()" th:href="@{/add-review-search}">Add review</a>
    </div>


    <!--Top 5 reviews-->
    <h3>Top movie reviews </h3><br>
    <div th:if="${not #lists.isEmpty(reviews)}">
        <table class="table table-striped">
            <tr>
                <th width="10%">Review rating</th>
                <th>User</th>
                <th>Review title</th>
                <th>Review</th>
            </tr>
            <tr th:each="review: ${reviews}">
                <td th:text="${review.reviewRating}"/>
                <td>
                    <a th:href="@{profile/profile-reviews/{username}(username=${review.username})}">
                        <span th:text="${review.username}"></span>
                    </a>
                </td>
                <td th:text="${review.reviewTitle}"/>
                <td>
                    <a th:href="@{/reviews-search/rate-review/{id}(id=${review.reviewID})}"
                       type="button":focus style="border:none!important"
                       class="btn btn-outline-dark" th:text="${review.reviewText}">
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div th:unless="${not #lists.isEmpty(reviews)}">
        <div class="card">
            <div class="card-body">
                There are no reviews.
            </div>
        </div>
    </div>


    <div>
        <a class="btn btn-warning"
           th:href="@{/moreReviews}">More</a>
    </div>


</div>
<footer th:insert="layout/footer.html :: footer"></footer>
</body>
</html>