<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RARDB4 index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div>
        <h1>Rate the following review:</h1><br><br>

        <h6>Title: <span th:text="${review.reviewTitle}"/></h6>
        <p>Review text: <span th:text="${review.reviewText}"/></p>
    </div>
    <form action="#"
          id="rate_comment"
          th:action="@{/reviews-search/rate-review/{id}(id=${review.reviewID})}"
          th:object="${review}" method="post">

        <div class="row">

            <input type="hidden" th:field="*{ratesAmount}" class="form-control" id="ratesAmount">
            <input type="hidden" th:field="*{reviewTitle}" class="form-control" id="reviewTitle">
            <input type="hidden" th:field="*{reviewText}" class="form-control" id="reviewText">
            <input type="hidden" th:field="*{movieID}" class="form-control" id="movieID">
            <input type="hidden" th:field="*{userRatingForMovie}" class="form-control" id="userRatingForMovie">

            <div class="form-group col-md-8">
                <label for="reviewRating" class="col-form-label">Review Rating (1-10)</label>
                <input type="text" th:field="*{reviewRating}" class="form-control" id="reviewRating">
            </div>

            <div class="form-group col-md-8">
                <input type="submit" class="btn btn-outline-dark" value="Rate/Comment">
            </div>
        </div>
    </form>

    <textarea rows="3" cols="50" name="comment" form="rate_comment"></textarea><br>
    <a th:href="@{/}" class="btn btn-outline-dark">
        <span>Home</span></a>

</div>
</body>
</html>