<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Rate and comment</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92d7fa70c9.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="layout/header.html :: header"></header>

<div class="container">


    <!--Review info-->
    <div>
        <div>
        <h4>Title: <span th:text="${review.reviewTitle}"/></h4>
            <h6>Review text: <span th:text="${review.reviewText}"/></h6>
        </div>
        <br><br>

        <!--All Comments to the review-->
        <div>
            <h3>Comments:</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="5%">User</th>
                    <th width="20%">Comment</th>
                    <th width="10%">Date</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="comment: ${comments}">
                    <td th:text="${comment.username}"/>
                    <td th:text="${comment.text}"/>
                    <td th:text="${comment.timestamp}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!--Add Review form-->
    <div>
        <form action="#"
              th:action="@{/reviews-search/rate-review/{id}(id=${review.reviewID})}"
              th:object="${rating}" method="post">

            <div class="form-group col-md-8" sec:authorize="isAuthenticated()">
                <label for="value" class="col-form-label">Review Rating (1-10)</label>
                <select th:field="*{value}" id="value">
                    <option th:value="0">0</option>
                    <option th:value="1">1</option>
                    <option th:value="2">2</option>
                    <option th:value="3">3</option>
                    <option th:value="4">4</option>
                    <option th:value="5">5</option>
                    <option th:value="6">6</option>
                    <option th:value="7">7</option>
                    <option th:value="8">8</option>
                    <option th:value="9">9</option>
                    <option th:value="10">10</option>
                </select>
                <input type="submit" class="btn btn-info" value="Rate">
            </div>
        </form>
    </div>



    <!--Add comment Form-->
    <div>
        <form action="#" sec:authorize="isAuthenticated()"
              th:action="@{/reviews-search/rate-review/comment/{id}(id=${review.reviewID})}"
              th:object="${commentOb}" method="post">
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="text" class="col-form-label">Your review</label>
                    <textarea type="text" th:field="*{text}" class="form-control" id="text"></textarea>
                </div>

                <div class="form-group col-md-8">
                    <input type="submit" class="btn btn-primary" value="Post">
                </div>
            </div>
        </form>
    </div>


</div>
<footer th:insert="layout/footer.html :: footer"></footer>
</body>
</html>