<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rate and comment</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92d7fa70c9.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="layout/header.html :: header"> </header>

<div class="container">

    <div>
        <div>
            <h1>Rate the following review:</h1>
            <a style="float:right" th:href="@{/}" class="btn btn-outline-dark">
                <span>Home</span></a>
            <br><br>
            <h4>Title: <span th:text="${review.reviewTitle}"/></h4>
            <p>Review text: <span th:text="${review.reviewText}"/></p>
        </div>
        <br><br>
        <div>
            <h3>Comments:</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="5%">User</th>
                    <th width="20%">Comment</th>
                    <th width="10%">Date</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="comment: ${comments}">
                    <td th:text="${comment.commentUsername}"/>
                    <td th:text="${comment.commentText}"/>
                    <td th:text="${comment.timestamp}"/>
                </tr>
                </tbody>
            </table>
        </div>

        <form action="#"
              th:action="@{/reviews-search/rate-review/{id}(id=${review.reviewID})}"
              th:object="${review}" method="post">

            <div class="row">
                <input type="hidden" th:field="*{ratesAmount}" class="form-control" id="ratesAmount">
                <input type="hidden" th:field="*{reviewTitle}" class="form-control" id="reviewTitle">
                <input type="hidden" th:field="*{reviewText}" class="form-control" id="reviewText">
                <input type="hidden" th:field="*{movieID}" class="form-control" id="movieID">
                <input type="hidden" th:field="*{userRatingForMovie}" class="form-control" id="userRatingForMovie">

                <div class="form-group col-md-8">
                    <label for="reviewRating" class="col-form-label">Review Rating (1-10)</label>
                    <input type="text" th:field="*{reviewRating}" class="form-control" id="reviewRating">
                </div>

                <div class="form-group col-md-8">
                    <input type="submit" class="btn btn-outline-dark" value="Rate">
                </div>
            </div>
        </form>



    </div>


    <!--Add comment Form-->
    <div>
        <form action="#"
              th:action="@{/reviews-search/rate-review/comment/{id}(id=${review.reviewID})}"
              th:object="${commentOb}" method="post">
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="commentText" class="col-form-label">Title</label>
                    <textarea type="text" th:field="*{commentText}" class="form-control" id="commentText" placeholder="commentText"></textarea>
                </div>

                <div class="form-group col-md-8">
                    <input type="submit" class="btn btn-primary" value="Post">
                </div>
            </div>
        </form>
        <!--<span th:if="${#fields.hasErrors('commentText')}" th:errors="*{commentText}" class="text-danger"/>-->
    </div>


</div>
<footer th:insert="layout/footer.html :: footer"> </footer>
</body>
</html>

