<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review list on movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reviews-on-movie.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body id="app-body">
<div class="container">
    <h1>Reviews</h1>

    <form th:action="@{/reviews-search}" method="get">
        <input type="text" name="movieTitle" id="movieTitle" th:value="${movieTitle}"/>
        <input type="submit" value="Search" class="btn btn-dark"/>
    </form>


    <h3>All reviews: </h3>
    <div th:if="${not #lists.isEmpty(reviews)}">
        <table class="table table-striped" style="color:#ffbb33">
            <thead class="thead-info" bgcolor="#3333cc">
            <tr>
                <th>Review rating</th>
                <th>Review title</th>
                <th>Movie title</th>
                <th>Photo</th>
                <th>Review</th>
                <th>Your movie rating:</th>
                <th>Review by:</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="readyReview: ${reviews}">
                <td th:text="${readyReview.reviewRating}"/>
                <td th:text="${readyReview.reviewTitle}"/>
                <td th:text="${readyReview.Title}"/>
                <td><img th:src="${readyReview.Poster}" height="120"/></td>
                <td th:text="${readyReview.reviewText}"/>
                <td th:text="${readyReview.userRatingForMovie}"/>
                <td th:text="${readyReview.userName}"/>
                <td><a th:href="@{/reviews-search/rate-review/{id}(id=${readyReview.reviewID})}" class="btn btn-outline-dark">
                    <span>Rate/comment</span></a><br>
                    <a th:href="@{/about-movie/{id}(id=${readyReview.imdbID})}" class="btn btn-outline-dark">
                        <span>About movie</span></a></td>

            </tr>
        </table>
    </div>
    <div th:unless="${not #lists.isEmpty(reviews)}">
        <div class="card">
            <div class="card-body">
                No reviews!
            </div>
        </div>
    </div>
    <div>

        <a th:href="@{/add-review-search}" class="btn btn-outline-dark">
            <span>Add review</span></a>
    </div>
</div>
</body>
</html>
