<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review list on movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body id="app-body">
<div class="container">
    <h1>Reviews</h1>

    <form th:action="@{/reviews/search}" method="get">
        <input type="text" name="title" id="title" th:value="${title}"/>
        <input type="submit" value="Search" class="btn btn-outline-success"/>
    </form>

    <h3>Top reviews: </h3>
    <div th:if="${not #lists.isEmpty(reviews)}">
        <table class="table table-bordered table-dark">
            <tr>
                <th>Review rating</th>
                <th>Review title</th>
                <th>Movie title</th>
                <th>Photo</th>
                <th>Review</th>
            </tr>
            <tr th:each="review: ${reviews}">
                <td th:text="${#numbers.formatDecimal(review.setUserRatingForReview,1,1,'POINT')}"/>
                <td th:text="${review.reviewTitle}">
                <td>
                    <img th:src="${movie.moviePoster}" height="120"/>
                </td>
                <td th:text="${review.reviewText}">
            </tr>
        </table>
    </div>
    <div th:unless="${not #lists.isEmpty(reviews)}">
        <div class="card">
            <div class="card-body">
                No reviews!
            </div>
        </div>
    </div>
    <div>

        <a th:href="@{/add-review-search}" class="btn btn-outline-primary btn-sm">
            <span>Add review</span></a>
    </div>
</div>
</body>
</html>