<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RARDB4 index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body id="app-body">
<div class="container">
    <h1>Your review was submitted! Thank you!</h1>
    <a th:href="@{/}" class="btn btn-outline-dark">
        <span>To the main page</span></a>
</div>
</body>
</html>
