<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review list on movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92d7fa70c9.js" crossorigin="anonymous"></script>
</head>
<body id="app-body">
<header th:insert="layout/header.html :: header"></header>
<div class="container">

    <!--found Reviews-->
    <h1>Reviews</h1>
    <h3>All reviews: </h3>
    <div th:if="${not #lists.isEmpty(reviews)}">
        <table class="table table-striped">
            <thead class="thead-info">
            <tr style="font-size:20px">
                <th>Review rating</th>
                <th>Review title</th>
                <th>Movie title</th>
                <th>Photo</th>
                <th>Review</th>
                <th>Your movie rating:</th>
                <th>Review by:</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="readyReview: ${reviews}">
                <td th:text="${readyReview.reviewRating}"/>
                <td th:text="${readyReview.reviewTitle}"/>
                <td>
                    <a th:href="@{/about-movie/{id}(id=${readyReview.imdbID})}"
                       th:text="${readyReview.Title}" style="color:green"></a>
                </td>
                <td><img th:src="${readyReview.Poster}" height="120"/></td>
                <td>
                    <a th:href="@{/reviews-search/rate-review/{id}(id=${readyReview.reviewID})}"
                       type="button":focus style="border:none!important"
                       class="btn btn-outline-dark" th:text="${readyReview.reviewText}">
                    </a>
                </td>
                <td th:text="${readyReview.userRatingForMovie}"/>
                <td>
                    <a th:href="@{profile/profile-reviews/{username}(username=${readyReview.userName})}">
                        <span th:text="${readyReview.userName}"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div th:unless="${not #lists.isEmpty(reviews)}">
        <div class="card">
            <div class="card-body">
                No reviews!
            </div>
        </div>
    </div>


    <!--Button-->
    <div>
        <a onclick="document.getElementById('id01').style.display='block'"
           aria-hidden="true">
            <button type="button" class="btn btn-secondary">Add review</button>
        </a>


        <!--Search form-->
        <div id="id01" class="modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="container" style="max-width:345px">
                    <div style="background-color: #009999; padding: 15px;" class="modal-content animate">
                        <form th:action="@{/add-review-search/search}" method="get">
                            <input type="text" name="keyword" id="keywwword" th:value="${keywwword}"/>
                            <input type="submit" value="Search" class="btn btn-dark"/>
                        </form>
                    </div>
                </div>
            </div>


            <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

            </script>


        </div>

    </div>
</div>
<footer th:insert="layout/footer.html :: footer"></footer>
</body>
</html>
